In [1]:
import pandas as pd
import numpy as np

C:\Users\rodja\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
dataset = pd.read_csv('Loan.csv',) 
dataset

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              601 non-null    object
 1   Married             611 non-null    object
 2   Dependents          599 non-null    object
 3   Education           614 non-null    object
 4   Self_Employed       582 non-null    object
 5   Applicant_Income    614 non-null    int64
 6   Coapplicant_Income  614 non-null    float64
 7   Loan_Amount         614 non-null    int64
 8   Term                600 non-null    float64
 9   Credit_History      564 non-null    float64
 10  Area                614 non-null    object
 11  Status              614 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 57.7+ KB

# NN Processing

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
for col in ['Gender', 'Married', 'Gender', 'Education','Self_Employed','Area','Status','Dependents']:
    label_encoder = LabelEncoder()
    dataset[col] = label_encoder.fit_transform(dataset[col])

mengisi data yang hilang dengan median

In [6]:
median_value=dataset['Term'].median()
dataset['Term']=dataset['Term'].fillna(median_value)

median_value=dataset['Credit_History'].median()
dataset['Credit_History']=dataset['Credit_History'].fillna(median_value)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              614 non-null    int64
 1   Married             614 non-null    int32
 2   Dependents          614 non-null    int32
 3   Education           614 non-null    int32
 4   Self_Employed       614 non-null    int32
 5   Applicant_Income    614 non-null    int64
 6   Coapplicant_Income  614 non-null    float64
 7   Loan_Amount         614 non-null    int64
 8   Term                614 non-null    float64
 9   Credit_History      614 non-null    float64
 10  Area                614 non-null    int32
 11  Status              614 non-null    int32
dtypes: float64(3), int32(6), int64(3)
memory usage: 43.3 KB

In [8]:
dataset.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,1,0,0,0,0,584900,0.0,15000000,360.0,1.0,2,1
1,1,1,1,0,0,458300,150800.0,12800000,360.0,1.0,0,0
2,1,1,0,0,1,300000,0.0,6600000,360.0,1.0,2,1
3,1,1,0,1,0,258300,235800.0,12000000,360.0,1.0,2,1
4,1,0,0,0,0,600000,0.0,14100000,360.0,1.0,2,1

In [9]:
x = np.asarray(dataset.drop(['Status'],axis = 1))
y = np.asarray(dataset['Status'])

In [10]:
x.shape

(614, 11)

In [11]:
y.shape

(614,)

In [12]:
import collections
collections.Counter(y)

Counter({1: 422, 0: 192})

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,
                                                   random_state=0)

In [15]:
from sklearn.neural_network import MLPClassifier

In [16]:
model = MLPClassifier(hidden_layer_sizes=(150,100,50),
                     max_iter=450,
                     random_state=1)
model.fit(x_train, y_train)

MLPClassifier(hidden_layer_sizes=(150, 100, 50), max_iter=450, random_state=1)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
y_pred = model.predict(x_train)
print(accuracy_score(y_train, y_pred))

y_pred_test = model.predict(x_test)
print(accuracy_score(y_test, y_pred_test))

0.6843177189409368
0.7235772357723578